<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <table>
            <tr>
                <th>Title</th>
                <th>ISBN</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>Action</th>
            </tr>
        {% for book in data %}
            <tr>
                <td>{{ book.Title }}</td>
                <td>{{ book.Isbn }}</td>
                <td>
                    <span>
                        {{ book.author.FirstName }} {{ book.author.LastName }}
                    </span>
                </td>
                <td>{{ book.publisher.Name }}</td>
                <td>Edit | Delete</td>
            </tr>
        {% endfor %}
        </table>
    </body>
</html>